<%- include("partials/header") -%>
  <body>
    
    <div class="main">
      <div class="main_left">
        <div class="main_videos">
          <div id="videoPlayer">

          </div>
        </div>
        <div class="main_controls">
          <div class="main_controls_block">
            <div class="main_controls_button">
              <i class="fas fa-volume-up"></i>
              <span>Mute Audio</span>
            </div>
            <div class="main_controls_button">
              <i class="fas fa-play"></i>
              <span>Stop Video</span>
            </div>
          </div>

        </div>
      </div>
      <div class="main_right">
        <div id="chatbox">
          <h4>Chat</h4>
        </div>
      </div>
    </div>
  </body>
</html>
